.Content {
  display: grid;
  grid-template-columns: 55% 40%;
  margin-top: 1em;
  grid-gap: 3em;

  h2{
    margin-bottom: 1em;
  }
}

@media (max-width: 568px) {
  .Content {
    display: block;
  }

  .tabList{
    margin-top: 1em;
  }
}